<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Приветствуем &ndash; Best Store</title>
</head>
<body>
<a data-th-href="@{/catalogue/items/create}">+ Создать товар</a>
<h1>Товары</h1>
<table>
    <thead>
    <tr>
        <th>#</th>
        <th>Товар</th>
    </tr>
    </thead>
    <tbody>
    <tr data-th-each="item : ${items}">
        <td data-th-text="${item.id}"></td>
        <td>
            <a data-th-href="@{/catalogue/item/{itemId}(itemId=${item.id})}"
               data-th-text="${item.title}"></a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>