<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New item</title>
</head>
<body>
<a data-th-href="@{/catalogue/items/list}">&larr; К списку товаров</a>
    <form method="post" data-th-action="@{/catalogue/items/create}">
        <label>
            Название:<br>
            <input type="text" name="title" data-th-value="${payload?.title}">
        </label><br>
        <label>
            Описание:<br>
            <textarea name="details" data-th-text="${payload?.details}"></textarea>
        </label><br>
        <button type="submit">Создать</button>
    </form>
</body>
</html>